<div class="children">
  <img class="bg-image" src="http://futuremaker.in/wp-content/uploads/2017/03/Kickassd-Educational-Program.jpg" alt="program-img">
  <div class="p-gradient">
    <div class="bg-text">
      <span>Unique</span>
      <span>Simple</span>
      <span>Modern</span>
      <span>Creative</span>
      <span>Parallaxhtml5</span>
    </div>

  </div>
  <div class="cb-gradient"></div>
</div>
<div class="img-main container-fluid">

  <h2 class="heading-main">Recommended Courses</h2>
  <hr class="text">
	<div class="card-deck">
  {{#each model.recommendedCourses as |course|}}
    {{card-component course=course}}
  {{/each}}
  </div>
  <div class="horizontal-img-main">
    <h2 class="heading-main">All Courses</h2>
    <hr class="underline">
    <div class="card-deck">
      {{#each model.allCourses as |course|}}
        {{card-component course=course}}
      {{/each}}
    </div>
  </div>
</div>

<div style="display:none;" class="course-card-wrapper">
	<div class="container">
		<h2 class="heading-main">Recommended Courses</h2>
		<ul class="course-cards">
			<div class="row">

				{{#each model.recommendedCourses as |course|}}

				<li class="course-card">
					<div class="custom-course-card course-card-content">
						<div class="course-card-header">
							<img src="https://placehold.it/250x250/f26354/ffffff" alt="suicidal thoughts" />
							<h3>{{course.title}}</h3>
						</div>
						<div class="card-body">
							<p>{{course.subtitle}}</p>
							<strong><p>Rs. {{course.fees}}</p></strong>
							<p></p>
							{{#link-to 'courses.preview' course.id class='btn btn-primary'}}Enroll Now!{{/link-to}}
						</div>
					</div>
				</li>
				{{/each}}
			</div>
		</ul>
	</div>
</div>

<div style="display:none;" class="course-card-wrapper">
	<div class="container">
		<h2>All Courses</h2>
    <hr class="underline">
		<ul class="course-cards">
			<div class="row">
				{{#each model.allCourses as |course|}}
				<li class="custom-course-card course-card">
					<div class="course-card-content">
						<div class="course-card-header">
							<img src="https://placehold.it/250x250/f26354/ffffff" alt="suicidal thoughts" />
							<h3>{{course.title}}</h3>
						</div>
						<div class="card-body">
							<p>{{course.subtitle}}</p>
							<strong><p>Rs. {{course.fees}}</p></strong>
							<p></p>
							{{#link-to 'courses.preview' course.id class='btn btn-primary'}}Enroll Now!{{/link-to}}
						</div>
					</div>
				</li>
				{{/each}}
			</div>
		</ul>
	</div>
</div>


<div style="display:none;" class="marketing-banner marketing-banner-inverse mbt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 banner-left">
				<img src="https://placehold.it/450x250" />
			</div>
			<div class="col-md-5 offset-md-2 banner-right">
				<h3>Marketing Mumbo Jumbo</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</div>
		</div>
	</div>
</div>

<div style="display:none;" class="marketing-banner mbt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 banner-left">
				<h3>Marketing Mumbo Jumbo</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</div>
			<div class="col-md-5 offset-md-2 banner-right">
				<img src="https://placehold.it/450x250" />
			</div>
		</div>
	</div>
</div>

<div style="display:none;" class="marketing-banner marketing-banner-inverse mbt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 banner-left">
				<img src="https://placehold.it/450x250" />
			</div>
			<div class="col-md-5 offset-md-2 banner-right">
				<h3>Marketing Mumbo Jumbo</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</div>
		</div>
	</div>
</div>


