<div class="card-bg"></div>
<div class="courses-card">
  <div class="details animated hoverSlideInDown">
    <div class="title-wrap">
      <h3 class="title text-uppercase" style="color:{{course.color}}">{{course.title}}</h3>
    </div>
    <p>The quick brown fox jumped over a lazy dog</p>
  </div>
  <div class="title-wrap">
    <h3 class="title text-uppercase" style="color:{{course.color}}">{{course.title}}</h3>
  </div>
</div>
<div class="bar-div" style="background:{{course.color}}; height: 15px"></div>
