<div class="ui container">
  <div class="ui three column doubling stackable grid container">
    <div class="two column">
      <iframe width="100%" src="https://www.youtube.com/embed/oPp4htuqDOs" frameborder="0" allowfullscreen></iframe>
    </div>
    {{#each courseRuns as |run RunIndex| }}
      <div class="one column">
          {{course.name}} (Run name: {{run.name}} )
      </div>
      <div class="ui stackable grid container">
        <div class="six column">
          {{course.summary}}
        </div>
        <div class="six column">
          <div class="ui list">
            <a class="item">
              <i class="right triangle icon"></i>
              <div class="content">
                <div class="header">Fees</div>
                <div class="description">{{course.fees}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      {{#if isEnrolled}}
        {{#link-to 'courses.course.run.index' '1'  class="ui primary button"}}Resume Learning{{/link-to}}
      {{else}}
        <button class="ui primary button" {{action 'enrollThisCourse' run}} >Enroll</button>
      {{/if}}
    {{/each}}
  </div>
</div>
