<h2 class="ui dividing header">{{content.name}}<a class="anchor" id="types"></a></h2>

<div class="example">
  <h4 class="ui header">{{content.name}}</h4>
  <i class="icon code"></i>
  <a class="anchor" id="page-headers"></a>
  <p class="header">{{content.description}}</p>
</div>

<div class="ui grid stackable container">
  <div class="column">
    <iframe width="560" height="315" src="{{embed content.attachment.path}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

{{yield}}
