{{!-- Toolbar --}}
<div class="btn-group" role="group" style="margin: 10px 0">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="dropdown-toggle custom-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language ({{langName}})
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" {{action 'changeLanguage' 'cpp'}} >C++</a>
            <a class="dropdown-item"{{action 'changeLanguage' 'c'}}>C</a>
            <a class="dropdown-item"{{action 'changeLanguage' 'java'}}>JAVA</a>
            <a class="dropdown-item"{{action 'changeLanguage' 'js'}}>Node Js</a>
        </div>
    </div>
</div>

<div id="editor" style="height: 350px; width: 100%">{{yield}}</div>


<div class="card">
    <div class="card-block">
        <h5 class="card-title">Input</h5>
        {{textarea class="form-control" rows="3"  value=customInput}}
    </div>
</div>


{{#if runOutput}}
<div class="card">
    <div class="card-block">
        <h5 class="card-title">Output</h5>
      <pre>{{runOutput}}</pre>
    </div>
</div>
{{/if}}

{{#if submitOutput}}
<div class="card">
    <div class="card-block">
        <h5 class="card-title">Output</h5>
      <pre>{{submitOutput.result}}</pre>
      {{#if (eq submitOutput.result "compile_error")}}
          <pre>{{submitOutput.data}}</pre>
      {{else}}
         {{#each submitOutput.data as |testcase_result index|}}
            <pre>Testcase #{{index}} {{testcase_result.result}}</pre>
         {{/each}}
      {{/if}}
    </div>
</div>
{{/if}}

<div class="btn-group" style="margin: 10px">
    {{#if runCodeTask.isRunning}}
        <button class="custom-btn disabled" style="margin-right: 10px; background-color: #363636; border:  #363636">Running...</button>
    {{else}}
        <button class="custom-btn" {{action 'runCode'}} style="margin-right: 10px; background-color: #363636; border:#363636" >Run</button>
    {{/if}}
    {{#if onSubmitTask.isRunning}}
        <button class="custom-btn disabled"> Submitting... </button>
    {{else}}
      <button class="custom-btn" {{action 'submitCode'}} >Submit Code </button>
    {{/if}}
</div>
