{{yield}}

<div class="container-fluid profile">
    
    <div class="row profile-head">
        <div class="col-sm-12 col-xs-12 text-center">
            <img src={{user.photo}} alt="Profile Pic">
            <h1>{{user.firstname}} {{user.lastname}}</h1>
            <p>{{user.email}}</p>
            <p>Coding Blocks online ID: {{user.oneauthId}}</p>           
        </div>
    </div>

    <div class="classroom">
        <h6>Current Enrollments</h6>
            {{#each runs as |run RunIndex| }}
                {{material-card-component run= run RunIndex= RunIndex class="material-card offset-md-1 col-md-4 col-xs-12 col-sm-12"}}
            {{/each}}
    </div>
    

    
    
    
    

</div>
