<div class="card-container">
  <div class="card">
    <div class="front" style="border-bottom: 7px solid {{course.color}}">
      <div class="cover" style="border-bottom: 7px solid {{course.color}}">
        <img src={{course.backgroundImage}}>
      </div>
      <div class="user">
        <img class="img-circle" src="{{course.instructor.photo}}">
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">{{course.title}}</h3>
          <p class="subtitle">{{course.subtitle}}</p>
          <div class="text-center">
            <span class="review-star review-star--active">★</span>
            <span class="review-star review-star--active">★</span>
            <span class="review-star review-star--active">★</span>
            <span class="review-star review-star--active">★</span>
            <span class="review-star review-star--active">★</span>
          </div>
          <p class="price">₹{{course.price}}</p>
        </div>
        <div class="footer">
          {{#link-to 'courses.preview' course.id}}
            <button class="btn" style="background: {{course.color}}">View Course</button>
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="back" style="border-bottom: 7px solid {{course.color}}">
      <div class="cover" style="background: {{course.color}};border-bottom: 7px solid {{course.color}}"></div>
      <div class="user">
        <img class="img-circle" src="{{course.instructor.photo}}">
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">{{course.instructor.name}}</h3>
          <p class="subtitle">Instructor</p>
          <p class="bio">{{course.instructor.description}}</p>
        </div>
        <div class="footer">
          {{#link-to 'courses.preview' course.id}}
            <button class="btn" style="background: {{course.color}}">View Course</button>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
