<div class="card ">
  <div class="card-block ">
    <img class="card-img-top" src="https://placehold.it/250x250/f26354/ffffff" alt="suicidal thoughts" />
      <h3 class="card-title">{{course.title}}</h3>
    <div class="card-text">
      <p>{{course.subtitle}}</p>
      <strong><p>Rs. {{course.fees}}</p></strong>
      <p></p>
      {{#if session.isAuthenticated}}
          {{#link-to 'courses.preview' course.id class='btn btn-primary'}}Preview{{/link-to}}
      {{else}}
          <button type="button" class="btn btn-primary" {{action "login"}}>Login</button>
      {{/if}}
      
    </div>
  </div>
</div>
{{yield}}
