{{#each courseRuns as |run RunIndex| }}
<div class="card" style="width: 30rem;">
    <iframe width="100%" src="https://www.youtube.com/embed/oPp4htuqDOs" frameborder="0" allowfullscreen></iframe>
    <div class="card-block">
        <h4 class="card-title">{{course.name}} (Run name: {{run.name}} )</h4>
        <p class="card-text">{{course.summary}}</p>
        {{#if isEnrolled}}
            {{#link-to 'classroom.course.run.index' run.id  class="btn btn-success"}}Resume Learning{{/link-to}}
        {{else}}
            <button class="btn btn-success" {{action 'enrollThisCourse' run}} >Enroll</button>
        {{/if}}
    </div>
</div>
{{/each}}
