
{{!--
{{#if showResults}}
    <h1> Your Score: {{results.score}} / {{content.questions.length}} <br> </h1>
{{/if}}
--}}
{{#if (eq progress.status 'ATTEMPTED') }}
  This content is already attempted.
  {{#link-to 'classroom.run.attempt.content.progress'}}
      Click here to view progress
  {{/link-to}}

{{else}}
<div class="quiz-container">
  {{question-view question=question questionSerialNumber=q}}

  <div class="content-buttons">
    {{#if nextQuestion}}
      {{#link-to 'classroom.run.attempt.content.quiz' (query-params q=nextQuestion) class="custom-btn"}} Next Question {{/link-to}}
    {{/if}}

    {{#if prevQuestion}}
      {{#link-to 'classroom.run.attempt.content.quiz' (query-params q=prevQuestion) class="custom-btn" }} Prev Question {{/link-to}}
    {{/if}}

    <button class="ui primary button custom-btn" style="margin: 10px 0" {{action 'submitQuiz'}}>
      Submit Quiz
    </button>
  </div>

</div>

{{/if}}