<div class="course-preview">
  <div class="color-line" style="background:#0c9dbf"></div>
  <div class="background-image">
    <div class="row">
        <div class="col-6" style="color: #0e98b9;">
          <div class="row title justify-content-md-center">
            <p class="display-4">
              {{model.title}}
               <p class="subtitle">
                  {{model.subtitle}}
               </p>
            </p>

          </div>
        </div>
        <div class="sample-video col-6">
          <div class="row">
            <div class="col-3 video-button">

                <img src="/images/play-video.png" alt="play-video button" data-toggle="modal" data-target="#exampleModal">

            </div>

            <div class="col-9 display-4">
              <p> Sample Video</p>
            </div>
          </div>
        </div>
    </div>

  </div>

  <!-- Button trigger modal -->
  <div class="modal" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <!--TODO: put video's preview URL here. Hardcode for now.-->
            <iframe class="iframe-video" src="https://www.youtube.com/embed/oPp4htuqDOs" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <p class="h4">Available Runs</p>
  </div>
  {{#each  model.runs as |run index|}}
    <div class="row">
      <div class="card">
        <div class="card-header">
          # {{sum index 1}}
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <div class="row">
            <div class="col-9">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="col-3">
              {{#if session.isAuthenticated}}
                {{#if run.user}}
                  <a href="#" {{action 'enrollThisCourse' run}} class="btn btn-primary disabled">Already enrolled</a>
                {{else}}
                  {{#if model.isFree}}
                    <a href="#" {{action 'enrollThisCourse' run}} class="btn btn-primary">Enroll</a>
                  {{else}}
                    {{#razorpay-buy-button price=(mul model.fees 100) name=model.title text="Buy to enroll" user=user run=run}}{{/razorpay-buy-button}}
                  {{/if}}
                {{/if}}
              {{else}}
                <a href="#" {{action 'enrollThisCourse' run}} class="btn btn-primary disabled">Login to enroll</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

</div>
