<div class="course-preview">
  <section>
    <div class="color-line" style="background:{{model.color}}"></div>
    <div class="background-image">
      <div class="row">
        <div class="course-title col-xs-12 col-sm-12 col-md-6 col-lg-6" style="color:{{model.color}}">
          <div class="row title">
            <div class=" title-wrap">
              <h1 class="display-4">
                {{model.title}}
              </h1>
            </div>
            <h3 class="subtitle">
              {{model.subtitle}}
            </h3>
          </div>
        </div>
        <div class="sample-video-container col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            {{!-- <div class="col-md-4 col-xs-4 offset-xs-4 video-button justify-content-center">
              <img src="/images/play-video.png" alt="play-video button" data-toggle="modal" data-target="#exampleModal">
            </div> --}}
            {{!-- <div class="col-md-8 hidden-sm-down display-4">
              <p> Sample Video</p>
            </div> --}}
          </div>
          <div class="enroll-row row col-12">
            <div class="enroll-wrap col-xs-12 col-sm-12 offset-md-4 col-md-8 ">
              <a href="#runs" class="enroll-btn" style="background:{{model.color}}; border: {{model.color}}">Enroll</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <div class="modal" id="exampleModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <iframe class="iframe-video" src={{model.promoVideo}} frameborder="0"
                    allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="main-wrapper main-wrapper-raised">
  <section>
    <div class="container-fluid">
      <h2 class="heading-main" style="color:{{model.color}}">Course Contents</h2>
      <hr class="text">

      <div class="flex-model row">
        {{#each model.sections as |section index|}}
          {{course-content  section=section contents=section.contents course=model index=index
                            class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ember-card"}}
        {{/each}}
      </div>
    </div>
  </section>

  <section id="runs">
    <div class="container">
      <div class="row">
        <h2 class="heading-main" style="color:{{model.color}}">Available Batches</h2>
      </div>
      <div class="course-card-wrapper row">
        <div class="courses">
          <div class="course-cards">
            <div class="flex-model row">
              {{#each  model.runs as |run index|}}
                {{preview-component run=run index=index course=model user=user transition=(action 'transitionTo') class="ember-card"}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>