<div class="course-card card">
  <div class="col-xs-12 col-sm-12">
    <div class="card-block fixed-height-patch">
      <img class="card-img-top fixed-size-patch cardimg" src="/images/course1.jpg" alt="Run image" />
      <h3 class="card-title">{{course.title}}</h3>
      <div class="row">
        <div class="startEnd">
        <p>{{moment-format (multiply run.start) 'MMMM Do YYYY'}} - {{moment-format (multiply run.end) 'MMMM Do YYYY'}}</p>
        </div>
      </div>
      <div class="card-text">
        <p>{{course.subtitle}}</p>
        <strong><p>Rs. {{course.fees}}</p></strong>
        <p></p>
        {{#if session.isAuthenticated}}
          {{#if run.user}}
            {{#link-to 'classroom.run.index' run.user.runAttempt.id class="btn btn-primary spacings"}}Resume Course{{/link-to}}
          {{else}}
            {{#if course.isFree}}
              <a href="#" {{action 'enrollThisCourse' run}} class="btn btn-primary">Enroll</a>
            {{else}}
              <div class="custom-prev-buy-btn-wrapper">
                <a href="#" {{action 'enrollThisCourse' run}} class="btn btn-primary">Preview</a>
                {{#razorpay-buy-button isDisabled=true price=(mul course.fees 100) name=course.title text="Buy Course" user=user run=run}}{{/razorpay-buy-button}}
              </div>
            {{/if}}
          {{/if}}
        {{else}}
          <a href="#" class="btn btn-primary spacings" {{action "login"}}>Login to Enroll</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
