<div class="ui card full-width">
    <div class="content">
        <a class="header"> Question: # {{questionSerialNumber}}  </a>
        <div class="meta" style="margin: 10px 0px">
            <span class="date"> {{question.type}}</span>
        </div>
        <div class="description">
          {{question.text}}
        </div>
        <ul class="question_choices">
            {{#each question.choices as |choice|}}
              <li {{action 'selectChoice' choice}} class="{{if (eq question.selectedChoice choice) 'selected'}}"  > {{choice.text}} </li>
            {{/each}}
        </ul>
    </div>
</div>