<div class="ui card full-width">
    <div class="content">
        <a> Question: # {{questionSerialNumber}}  </a>
        <div class="meta" style="margin: 10px 0px">
            <span class="date"> {{question.type}}</span>
        </div>
        <div class="description">
          {{question.text}}
        </div>
        <ul class="question_choices">
            {{#each question.choices as |choice index| }}
              <span></span>
              <li onclick={{action 'selectChoice' choice}} class="{{if (eq question.selectedChoice choice) 'selected'}}"  >
                <input type="radio" id='answer{{index}}' name="answer" value={{index}} class="input_element">
                {{choice.text}}

              </li>
            {{/each}}
        </ul>
    </div>
</div>