<div class=" video-section row">
    <div class="col-9">
      {{outlet}}
    </div>
  <div class="col-3 sections">
    <div class="border-heading">
      <span>Table of Contents</span>
    </div>
    <div class="just-padding">
      <div class="list-group list-group-root well">
        {{#each sections as |section index| }}
          <div class="content-toggle" data-toggle="collapse" data-target="#{{index}}" >
             <a href="#" class="list-group-item">{{section.name}}
             </a>
            <i  class="collapse fa fa-chevron-down" aria-hidden="true"></i>
          </div>


          <div id={{index}} class="collapse list-group-child">
            {{#each section.contents as |content| }}
              {{#link-to 'classroom.run.attempt.content' content.id class="list-group-child"}}{{content.payload.name}}{{/link-to}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>