<div class=" video-section row">
    <div class="main-section col-md-9 col-xs-12">
      {{outlet}}
    </div>
  <div class="col-md-3  col-xs-12 sections">
    <div class="border-heading">
      <span>Table of Contents</span>
    </div>
    <div class="just-padding">
      <div class="list-group list-group-root well">
        {{#each sections as |section index type| }}
          <div class="content-toggle" data-toggle="collapse" data-target="#{{index}}">
            <a href="#" class="list-group-item">{{section.name}}</a>
            <i class="collapse fa fa-chevron-down" aria-hidden="true"></i>
          </div>


          <div id={{index}} class="collapse list-group-child">
            {{#each section.contents as |content| }}
              {{#link-to 'classroom.run.attempt.content' content.id class="list-group-child content-link-sidebar"}}
                {{#if (eq content.contentable "document")}}
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                {{else if (eq content.contentable "lecture")}}
                  <i class="fa fa-play" aria-hidden="true"></i>
                {{else if (eq content.contentable "code-challenge")}}
                  <i class="fa fa-terminal" aria-hidden="true"></i>
                {{else if (eq content.contentable "video")}}
                  <i class="fa fa-file-video-o" aria-hidden="true"></i>
                {{else if (eq content.contentable "quiz")}}
                  <i class="fa fa-question" aria-hidden="true"></i>
                {{/if}}
                {{content.payload.name}}
                {{progress-checkbox content=content runAttempt=runAttempt}}
              {{/link-to}}
            {{/each}}
          </div>
        {{/each}}
        {{#if (not-eq sections.length course.sections.length)}}
          <div class="alert alert-warning" role="alert">
            Please buy the course to unlock further.
              <div>
              {{#razorpay-buy-button price=(mul course.fees 100)  name=course.title text="Buy Course" user=user run=run}}{{/razorpay-buy-button}}
              </div>
            </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
