<div class="course-card-content">
	<div class="course-card-header">
		<img src="https://placehold.it/250x250/f26354/ffffff" alt="suicidal thoughts" />
		<h3>{{course.title}}</h3>
	</div>
	<div class="card-body">
		<p>{{course.subtitle}}</p>
		<a>
			<i class="user icon"></i>
			{{#if course.is_free}}
				Free
			{{else}}
				Rs. {{course.fees}}
			{{/if}}
		</a>
		<p></p>
		{{#link-to 'courses.preview' course.id class='btn btn-primary'}}Enroll Now!{{/link-to}}
	</div>
</div>
{{yield}}
